<button class="play-pause" {{action 'toggle'}} style={{buttonColor}}>
  {{#if isPlaying}}
    {{nypr-svg icon='pause' className='playlist-pause'}}
  {{else if isLoading}}
    {{animated-loading-icon
      class='playlist-loading'
      color=styles.button.backgroundColor
      width=14
      height=17
      outerScale=6
      innerScale=2
      radius=0.025
      dotRadius=0.25
      lineWidth=1.5}}
  {{else}}
    {{nypr-svg icon='play' className='playlist-play'}}
    {{#if hasBlock}}{{yield}}{{/if}}
  {{/if}}
</button>
