<style>
.nypr-player-button  {
  color: {{styles.accent.color}};
}

.nypr-player-button:not([disabled]):hover {
  color: {{styles.accent.color}};
  opacity: 0.75;
}

.nypr-player-progress-played {
  background-color: {{styles.accent.color}};
}

.nypr-player-progress-playhead:after {
  background-color: {{styles.accent.color}};
}

.nypr-player-button.mod-listen .listen-spinner:before {
}

.nypr-player-button.mod-listen .listen-spinner:after {
}
</style>

<div class="theme-wrapper__body">
  {{yield styles}}
</div>
