{{#unless showApp}}
  {{preview-screen}}
{{else}}
  {{#theme-wrapper brand as |styles|}}
    {{site-header title blurb styles=styles}}

    {{#nypr-playlist playlistTitle=title items=model styles=styles as |playlist|}}
      {{#playlist.player as |content|}}
        {{#content.for 'trackInfo'}}
          {{#track-info watch=playlist.currentItem as |track|}}
            {{#track.title crawl=crawl}}
              {{playlist.currentItem.title}}
            {{/track.title}}

            {{#track.show crawl=crawl class="text-crawl__show"}}
              {{playlist.currentItem.showTitle}}
            {{/track.show}}
          {{/track-info}}
        {{/content.for}}
      {{/playlist.player}}

      {{#playlist.row as |row|}}
        {{#row.center}}
          {{#track-info as |track|}}
            {{#with row.item as |i|}}
              {{#track.title}}
                <a href={{i.url}}
                   target="_blank"
                   class="gtm__click-tracking"
                   data-action="Click to Story Page"
                   data-label="{{i.showTitle}} | {{i.title}}">{{i.title}}</a>
              {{/track.title}}

              {{#track.show}}
                {{#if (and i.showTitle i.headers.brand.url)}}
                  <a href={{i.headers.brand.url}}
                     target="_blank"
                     class="gtm__click-tracking"
                     data-action="Click to Show Page"
                     data-label="{{i.showTitle}} | {{i.title}}">{{i.showTitle}}</a>
                {{else if i.showTitle}}
                  {{i.showTitle}}
                {{/if}}
              {{/track.show}}
            {{/with}}
          {{/track-info}}
        {{/row.center}}

        {{#row.right}}
          {{row.item.audioDurationReadable}}
        {{/row.right}}
      {{/playlist.row}}

    {{/nypr-playlist}}
  {{/theme-wrapper}}
{{/unless}}
